{% extends 'index.html' %}
{% load static %}
{% block index_content %} 
{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">{{ titulo }}</h1>

    {% if messages %}
    {% for msj in messages %}
    <script>
        Swal.fire('{{ msj }}', '', 'success')
    </script>
    {% endfor %}
    {% endif %}
    <!-- enctype sirve para enviar archivos desde el cliente al servidor -->
    <form method="post" enctype="multipart/form-data">
        <!-- token que permite verificar que los datos sean enviados de django -->
        {% csrf_token %}
        <div class="form-group">
            <div class="form-control mb-3">
                <label for="{{ formulario.username.id_for_label }}">Nombre de usuario:</label>
                {{ formulario.username }}
            </div>
            <div class="form-control mb-3">
                <label for="{{ formulario.first_name.id_for_label }}">Nombre:</label>
                {{ formulario.first_name }}
            </div>
            <div class="form-control mb-3">
                <label for="{{ formulario.last_name.id_for_label }}">Apellido:</label>
                {{ formulario.last_name }}
            </div>
            <div class=" form-control mb-3">
                <label for="{{ formulario.password1.id_for_label }}">Contraseña:</label>
                {{ formulario.password1 }}
            </div>
            <div class="form-control mb-3">
                <label for="{{ formulario.password2.id_for_label }}">Confirmar contraseña:</label>
                {{ formulario.password2 }}
            </div>
            <div class="form-control mb-3">
                <label for="{{ formulario.group.id_for_label }}">Grupo:</label>
                {{ formulario.group }}
            </div>
            <div class="text-center mt-3">
                <input type="reset" class="btn btn-outline-info w-25" value="Limpiar">
                <input type="submit" class="btn btn-primary w-25" value="Registrar">
            </div>

        </div>
        
    </form>
</div>

{% endblock %}
