#cloud-config
users:
  - name: staging
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    plain_text_passwd: staging123
    ssh_authorized_keys:
      - ${ssh_key}

packages:
  - qemu-guest-agent
  - iproute2
  - rsync
  - curl
  - ca-certificates

package_update: true
package_upgrade: false

runcmd:
  - systemctl enable --now qemu-guest-agent
