[Unit]
Description=BazPOS gunicorn daemon
Requires=bazpos.socket
After=network.target

[Service]
User=nicolas
Group=nicolas
WorkingDirectory=/home/nicolas/Desarrollo/bazpos
EnvironmentFile=/home/nicolas/Desarrollo/bazpos/.env
ExecStart=/home/nicolas/Desarrollo/bazpos/.venv/bin/gunicorn \
    --access-logfile - \
    --workers 4 \
    --bind 0.0.0.0:8000 \
    bazpos.wsgi:application

[Install]
WantedBy=multi-user.target
